{% extends "shop/base.html" %}
{% load static %}

{#{% block content %}#}
{#    <div>#}
{#        <h1>Carrinho</h1>#}
{#        {% for item in itens %}#}
{##}
{#                <form action="{% url 'cart:cart_item_delete' item.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    Produto: {{ item }} Qtd:{{ item.quantidade }}#}
{##}
{#                    <input id="delete_item_button" type="submit" value="Delete" />#}
{#                </form>#}
{##}
{#        {% endfor %}#}
{##}
{#    </div>#}
{#{% endblock %}#}


{% block content %}
    <h1>Carrinho</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
            {% for i in itens %}
                <tr>
                    <td>
                        <a href="{{ i.produto.get_absolute_url }}">
                            <img src="{% if i.produto.imagem %}{{ i.produto.imagem.url}}{% else %}{% static "shop/img/no_image.png" %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ i.produto.nome }}</td>
                    <td>
                        <form action='{% url "cart:adicionar_carrinho" %}' method="post">
                            {% csrf_token %}
                            <input style="width:10%" type="number" name="quantity" value="0"/>
                            <input type="hidden" value="{{ i.produto.nome }}"/>
                            <input type="hidden" name="slug" value="{{ i.produto.slug }}"/>
                            <input type="submit" value="Atualizar"/>
                        </form>
                    </td>


                    <td>{{ i.quantidade }}</td>

                    <td><a href="{% url "cart:cart_item_delete" i.id%}">Remove</a></td>
                    <td >{{ i.produto.preco }}</td>
                    <td >{{ i.get_total_price }}</td>

                </tr>
            {% endfor %}
            <tr><td></td><td></td><td></td><td></td><td>Total: </td><td>{{ total }}</td></tr>

        </tbody>

    </table>

    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Comprar mais!</a>
        {% if total != 0 %}
            <a href="{% url "orders:order_create" %}" class="button">Finalizar Compra</a>
        {% endif %}
    </p>
{% endblock %}
