{% extends "shop/base.html" %}
{% block title %}Reiniciar a palavra passe{% endblock %}
{% block content %}
    <h1>Reiniciar a palavra passe</h1>
    {% if validlink %}
        <p>Confirme a palavra passe:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Modifique a palavra passe" /></p>
        </form>
    {% else %}
        <p>O link de recuperação já foi utilizado, peça nova recuperação.</p>
    {% endif %}
{% endblock %}