{% extends "shop/base.html" %}
{% block title %}Editar Perfil{% endblock %}

{% block content %}
    <h1>Editar Perfil</h1>
    <p>Utilize o seguinte formulário para editar o seu perfil de utilizador:</p>

    <a id="makebutton" href="{% url "shop:password_change" %}">Alterar Palavra Passe</a>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}

{#        <label for="metodos_pagamento">Metodo de Pagamento: </label>#}
{#        <select name="metodos_pagamento" >#}
{#            {% for i in metodos_pagamento %}#}
{#                <option value="{{ i.pk  }}"> {{ i.metodo_pagamento }}</option>#}
{#            {% endfor %}#}
{#        </select>#}


        <input type="hidden" value="{{ produto.nome }}"/>
        {{ perfil_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Gravar alterações!"></p>
    </form>


{#    <button><a href="{% url shop:edit %}">Editar</a></button>#}
{% endblock %}