{% extends "shop/base.html" %}
{% load static %}

{% block title %}Encomendas{% endblock %}

{% block content %}

    <table class="cart">
        <thead>
        <tr>
            <th>Nr Encomenda</th>
            <th>Data Encomenda</th>
            <th>Valor Total Encomenda</th>
        </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created }}</td>
                    <td>{{ order.get_total_cost }} €</td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}